@font-face {
  font-family: SVN-Poppins;
  src: url(/assets/font/TTF/SVN-Poppins-Medium.ttf);
}
html,
body {
  font-family: SVN-Poppins !important;
}
* {
  margin: 0;
  padding: 0;
}

/* start menu */
.box-menu {
  margin: 10px 0;
}
.menu {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu__item {
  list-style: none;
  height: 25px;
  width: auto;
}

.menu__item:nth-child(1) {
  border-bottom: 3px solid #00daff;
}
li.menu__item:hover {
  border-bottom: 3px solid #00daff;
}
.menu__item a {
  color: #25282b;
  font-weight: 500;
  letter-spacing: -0.02em;
  font-size: 13px;
  font-weight: 500;
  display: block;
}
.menu__item a:hover {
  color: #0bbee7;
  text-decoration: none;
}
/* end menu */

/* start slider */
.banner {
  margin: 20px 0;
  height: 430px;
  width: 100%;
  position: relative;
}

.banner__slider {
  width: 100%;
  height: 100%;
}
.btnSlider {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 1px 6px rgba(49, 53, 59, 0.3);
}
.btnSlider.left {
  position: absolute;
  top: calc(430px / 2);
  left: 164px;
  z-index: 99;
}
.btnSlider.right {
  position: absolute;
  top: calc(430px / 2);
  right: 164px;
  z-index: 99;
}
/* end slider */

/* start css box content */
.box-content {
  height: 420px;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.content__review {
  text-align: center;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.02em;
  color: #25282b;
}
.content__text {
  text-align: center;
  width: 520px;
  color: #52575c;
  letter-spacing: -0.02em;
  font-size: 14px;
  margin: 0 auto;
  line-height: 21px;
}

.box-item {
  display: flex;
  height: 238px;
  width: 100%;
  justify-content: space-between;
}
.box-item .item {
  height: 238px;
  width: 238px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box-item .item .item__content {
  margin-top: 10px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #25282b;
}
/* end css box content */

/* start css box-community */
.box-community {
  width: 100%;
  height: 802px;
  background: linear-gradient(
    180deg,
    #f4f6fa 0%,
    rgba(244, 246, 250, 0) 83.85%
  );
}
.community-top {
  padding-top: 25px;
}

.text_blue {
  color: #0bbee7;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  line-height: 21px;
  letter-spacing: 0.18em;
}

.community__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.02em;
  color: #25282b;
  text-align: center;
}
.community__content {
  width: 685px;
  margin: auto;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #52575c;
}
.community-bottom {
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
}
.community__item {
  padding: 18px;
  width: 504px;
  height: 521px;
  background: #ffffff;
  box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.05);
}
.community__item__image {
  width: 465px;
  height: 278px;
}
.community__item__image img {
  width: 100%;
  height: 100%;
}
.community__date {
  margin: 10px 0;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #a0a4a8;
}
.item__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.02em;
  color: #25282b;
}
.community__item__content .item__content {
  font-size: 13px;
  width: 381px;
  height: 60px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #25282b;
}
.btnmore {
  width: 152px;
  height: 36px;
  border: 1px solid #0bbee7;
  box-sizing: border-box;
  border-radius: 44px;
  background-color: #ffffff;
  transition: 0.5s;
}
.btnmore:hover .btnmore__icon {
  transform: translateX(5px);
  transition: 0.4s;
}

.btnmore:hover {
  border: 1px solid #03a3c8;
}
.btnmorefull {
  width: 152px;
  height: 36px;
  box-sizing: border-box;
  border-radius: 44px;
  background: #0bbee7;
  border: none;
  transition: 0.5s;
}
.btnmorefull:hover {
  background: #03a3c8;
}
.btnmorefull:hover .btnmore__icon {
  transform: translateX(5px);
  transition: 0.4s;
}

.btnmorefull span {
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #ffffff;
  margin-right: 5px;
}
.btnmore span {
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #0bbee7;
  margin-right: 5px;
}

.btnmore:hover span {
  color: #03a3c8;
}
/* end css box-community */

/*  start box education */
.box_education {
  height: 200px;
  display: flex;
  align-items: center;
}
.education {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.education__item {
  width: 220px;
}
.education__item__title,
.education__item__time,
.education__item__content {
  text-align: center;
}
.education__item__time {
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #a0a4a8;
}
.education__item__title {
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #25282b;
}
.education__item__content {
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #52575c;
}

/* end box education*/

/* start box_document */
.box_document {
  width: 100%;
  height: 610px;
  position: relative;
}
.BG {
  height: 416px;
  width: 100%;
  background-image: url("/assets/icon/BGHome.png");
}
.document {
  position: absolute;
  top: 92px;
  left: 0;
  z-index: 9;
  width: 100%;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.document__img {
  width: 539px;
  height: 460px;
}
.document__img img {
  width: 100%;
  height: 100%;
}
.document__text {
  width: 434px;
}
.document__title {
  font-weight: 600;
  width: 382px;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.02em;
  color: #25282b;
}
.document__text {
  font-size: 13px;
  line-height: 19px;
  letter-spacing: -0.02em;
  margin-top: 10px;
  color: #52575c;
}

.document__list {
  line-height: 28px;
  padding: 20px;
}

/* end box_document */

/* start css news */
.title__news {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.02em;
  color: #25282b;
}
.list_news {
  display: flex;
  justify-content: space-between;
}

.news__item {
  height: auto;
  width: 252px;
}

.news__item__img {
  height: 142px;
  width: 252px;
}
.news__item a {
  margin-top: 10px;
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.02em;
  text-decoration: none;
  color: #25282b;
  transition: 0.5s;
}
.news__item a:hover {
  color: #0bbee7;
  text-decoration: none;
}
/* end css news */

.box-inputemail {
  margin-top: 50px;
  position: relative;
  height: 211px;
  width: 100%;
}
.inputemail {
  width: 100%;
  height: 100%;
  background-image: url("/assets/images/BGinput.png");
}
.box-inputemail .reactlogo {
  position: absolute;
  top: -37px;
  left: 0;
  z-index: 99;
}
.input__content {
  width: 461px;
  margin: 0 auto;
  position: relative;
  padding: 30px 0;
}
.input__content__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}
.inputemail input {
  background: #ffffff;
  border-radius: 43px;
  color: #a0a4a8;
  font-size: 14px;
  width: 407px;
  height: 44px;
  line-height: 32px;
  padding-left: 15px;
  padding-right: 50px;
  border: none;
}
.inputemail input:focus {
  outline: none;
}
.btnsubmit {
  position: absolute;
  bottom: 30px;
  border: none;
  right: 0;
  z-index: 999;
  width: 104px;
  height: 44px;
  background: #00daff;
  border-radius: 40px;
  font-weight: 600;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
}
.btnsubmit:focus {
  outline: none;
}
.btnsubmit:hover {
  transition: 0.5s;
  background-color: #03a3c8;
}
.footer {
  height: 150px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f0f0f0;
}
.footer_itemlogo {
  width: 24%;
}
.footer_item {
  width: 16%;
}
.footer_item .item__title {
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;

  letter-spacing: -0.02em;

  color: #25282b;
}
.footer_item a {
  text-decoration: none;
  display: block;
  height: 30px;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.footer_item a:hover {
  color: #0bbee7;
  text-decoration: none;
}
.footer_itemlogo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer_itemlogo p {
  font-size: 13px;
  line-height: 19px;
  letter-spacing: -0.02em;

  color: #000000;
}
.footer_item .connect {
  display: flex;
}
.copy-right {
  font-size: 11px;
  line-height: 16px;
  /* identical to box height */

  letter-spacing: -0.02em;
  margin: 15px 0;
  color: #000000;
}
